@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Oswald:wght@500&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #0eb1d2   ;
  --secondary-color: #40644A ;
  --accent1-color: #5e68d4;
  --accent2-color: #ffffff;

  /* change the values below to your chosen font(s) */
  --heading-font: "Oswald", sans-serif;
  --paragraph-font: "Merriweather", Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #396E94;  /* headlines on a white background */ 
  --headline-color-on-color: white; /* headlines on a colored background */ 
  --paragraph-color-on-white: #143c58; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #ffffff; /* paragraph text on a colored background */ 
  --paragraph-background-color: #40644A  ;
  --nav-link-color: #e1f013;
  --nav-background-color: #40644A;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #396E94;
}

nav  {
    list-style-type: none;
    display: flex;
  }
  nav a {
    padding:1em;
    min-width: 120px;
    text-decoration: none;
    padding: 10px;
  }
  nav a:link, nav a:visited {
    color: var(--nav-link-color);
  }
  nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
  }


#first-paragraph {
    color: white;
    font-size: 30px;
    font-style: italic;
    font-family: var(--paragraph-font);
}

.primary {
    background-color: #0eb1d2;
}
.secondary {
    background-color: #40644A;
}
.accent1 {
    background-color: #5e68d4;
}
.accent2{
    background-color: #ffffff;
}

body {
    max-width: 960px;
    margin: 0 auto;
    padding: 4em;
    font-size: 18px;
    text-align: center;
    background-color: #0eb1d2;
  }